# --------- pytorch --------- #
pytorch-lightning==1.2.10

# --------- hydra --------- #
hydra-core==1.1.0.dev5
hydra_colorlog>=1.0.0

# --------- loggers --------- #
wandb==0.10.23

# --------- others --------- #
rich
python-dotenv
pre-commit
wilds==1.1.0
